html{ margin:0px; padding:0px;}
body{ background:#FFF;}
img{ border:0} 
input{ /*margin:0 0 3px 0;color:#171717;border:0; padding:2px 0 0 5px; */outline:0px;}
textarea{ border:0;color:#171717; outline:0px}
select{ }
ul,li{ padding:0; margin:0} 
h1,h2,h3{ margin:0;}
a{ border:0; outline:0px;}
.clear{ clear:both;margin: 6px;}
form{ margin:0; padding:0; height:auto; overflow: inherit}
p { 
    margin: 0;
    color: #595959;
    padding: 0;
    font-family: DroidSansRegular, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
form{ margin:0; padding:0; height:auto; overflow: inherit;}
.cleaner {clear:both; height:1px; font-size:1px;border:none; margin:0; padding:0;background:transparent;}
b{ color:#595959; margin:0 0 5px 0;}
b2{ color:#ee1c25; font-weight:bold;}

h1{ 
    font: 38px 'ProximaNovaBold';
    color: #03417F;
    font-weight: bold;
    margin: 0 0 10px;
}
h2{ font: 20px 'ProximaNovaBold'; color:#03417F; padding:0; display:block;margin: 0 0 10px;}
h3{ font: 20px 'DroidSansBold'; color:#013588; margin:0; padding:0; display:block;}

#prueba{ width:200px; height:900px; background:#060;}